
.inform{
    text-align: center;
    margin: .4vw 0;
    background: #bbe2c2;
    padding: .4vw;
  }
  .winCard, .winCard2 {
      width:50%;
  }
  .imgCard {
      width: 50%;
      margin-top:1vw;
  }
  .content{
    margin: .4vw 0;
    padding: .4vw;
  }
  .tic-panel{
    border: solid 2px black;
    margin: .4vw 0;
    padding: .4vw;
  }
  
  .tic-box{
    border: solid black 1px;
    text-align: center;
    color: lavender;
    height: 10rem;
    width: 10rem;
    font-size: 5rem;
    cursor: pointer;
  }
  .tic-box:hover{
    background: #20948B;
  }