
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mx-5 my-5">
    <div class="col-md-12">
        <h2 id="header" class="text-center mb-5">Frequently Asked Questions</h2> <div class="row">
            <div class="col-10">
                <div class="wrapper">
                    <ul>
                        <li class="faq-item">
                            <p class="question">
                                Does the website saves files privacy ?
                            </p> <p class="answer">
                                Yes, nobody can view a file without having its URL, and URLs are unpredictable.
                            </p>
                        </li>
                        <li class="faq-item">
                            <p class="question">
                                How to upload multiple files with only one process\upload ?
                            </p> <p class="answer">
                                You can compress those files at one file and upload it using 'Compressed' file type
                            </p>
                        </li>
                        <li class="faq-item">
                            <p class="question">
                                I forgot my uploaded file password, how do I get it deleted ?
                            </p> <p class="answer">
                                You can report the file if you have its ID or URL, and our team will remove the file as soon as possible
                            </p>
                        </li>
                        <li class="faq-item">
                            <p class="question">
                                A file has been uploaded by someone and it violates my rights, how to delete it ?
                            </p> <p class="answer">
                                Please send us a message (contact us) with the file ID, URL, or file name, and we will be able to solve your problem quickly.
                            </p>
                        </li>
                        <li class="faq-item">
                            <p class="question">
                                I want to upload a file but its extension isn't supported, any solutions ?
                            </p> <p class="answer">
                                Yes, you can compress the file and upload it using 'Compressed' file type.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

