html , body {
    min-height: 100%;
    position: relative;
}
img {
    max-height: 300px;
}
.icona {
    height: 100px;
}

.files {
    text-align: center;
    margin-bottom: 50px;
    min-height: 100%;
    padding-top:10px;
}
.access-panel {
    text-align: center;
}
.access {
    width: 150px;
    font-weight: 900;
    font-size: 110%;
}
.form-inline {
    display: inline-block;
}
#hr {
    display: none;
}
.up-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    border-radius: 40px;
    color: #292929;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
span {
    font-weight: 900;
}
@media screen and (max-width:650px) {
    img {
        max-width: 100%;
    }
}
@media screen and (max-width:508px) {
    #hr {
        display: block;
    }
    .up-btn2 {
        padding: 7.5px 15px;
    }
}