body {
    overflow-x: hidden;
}

.carousel-inner img {
    width:100%;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    background-color: rgba(0,0,0,0.2);
    width:5%;
    cursor: pointer;
}

hr {
    width:75%;
    background-color: #b4b4b4;
}

.welcome {
    width:75%;
    margin: 0 auto;
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.btn-carousel {
    background-color: #6334ca;
    border: #3b2858; 
}

.btn-carousel:hover {
    background-color: #3b2858;
}

.btn-block {
    font-size:120%;
}

.btn-carousel:focus, .btn-carousel.focus {
    box-shadow:0 0 0 0.2rem #6334ca;
}
.carousel-caption h1, .carousel-caption h3 {
    text-shadow: 5px 2px 7px #222;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ddd; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#services .card {
    border: 2px solid #444;
    transition-duration: 500ms;
    box-shadow: 0px 10px 10px #999;
}

.teams .card {
    box-shadow: 0px 10px 10px #999;
}

#services .card:hover {
        box-shadow: 8px 8px 5px #999;    
        transform: scale(1.1);
        transition-duration: 500ms;
}

.bg-purple {
    background-color: #3b2858 !important;
}

.bg-custom-dark {
    background-color: #1f2224;
}

.navbar-light .navbar-nav .nav-link {
    color:#af7aff;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:purple;
  }
  .navbar-light .navbar-nav .active>.nav-link {
    color: #6334ca;
  }


.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: purple;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
    border-radius: 5px;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: 0.5s;
}



.custom-navbar {
    box-shadow: 0px 5px 10px #717171;
}

.logo-img {
    filter: brightness(0.5);
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
.fixed-container {
    height: 75vh;
}

  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
  }
  #fixed {
    background-image: url('../images/fixed_bg.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }

.icon {
    font-size: 5em;
    margin-bottom: 0.25em;
}

.icon-service {
    margin-top:10px;
}

.icon-contact {
    margin: 0em 0.5em 0.5em 0.25em;
}

.fa-globe {
    color: #6334ca;
}

.fa-handshake {
    color: #6334ca;
}

.fa-clock {
    color:#6334ca;
}

.fa-facebook {
    color:rgb(58, 85, 159);
}
.fa-twitter {
    color:rgb(80, 171, 241);
}
.fa-google-plus-g {
    color:rgb(201, 53, 61);
}

.fa-youtube {
    color:rgb(220, 71, 46);
}

.partner-img {
    max-width: 200px;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.light {
    background-color: white;
    box-shadow: -2px 2px 5px white;
    width: 75%;
}


.footer-container, .footer-row {
    padding-bottom:0 !important;
}

.footer-logo-img {
    filter: contrast(0.3) brightness(1.3);
}

@media (max-width: 768px) {
    p {
        margin-top: 0.5rem;
    }
    .card {
        margin-top: 15px;
    }
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;

    }
}

@media (max-width: 576px) {
    #services .card {
        width: 85%;
        margin: 0 auto;
    }
    .card {
        margin-top: 20px;
    }
    .card-body {
        text-align: center;
    }
    .display-4 h1 {
        font-size:85%;
    }
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
        font-weight: 400;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
}

@media (max-width: 428px) {
    .card {
        width:85%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .display-4 {
        font-size:250%;
    }
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 100%;
        font-weight: 400;
        padding-bottom: 0.05rem;
    }
    .carousel-caption .btn {
        font-size: 55%;
        padding: 4px 7px;
    }
}